@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<div class="mainCont">
  <div class="head">
    <h1>Delete This Machine</h1>
  </div>
  <div class="content">
    <p>Are you TOTALLY sure you want to delete @Html.DisplayFor(model => model.MachName)?</p>
    @using (Html.BeginForm())
    {
      <input type="submit" value="Delete" class="btn btn-default">
    }
  </div>
  <div class="back">
    @Html.ActionLink("Back to the List", "Index")
  </div>
</div>
