@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
<div class="mainCont">
  <div class="head">
    <h1>Edit</h1>
  </div>
  <div class="content">
    <p>Edit @Html.DisplayFor(model => model.MachName)?</p>
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.MachineId)
      <p>Name:
        @Html.TextBoxFor(model => model.MachName, new { @required="required" })</p>
      <input type="submit" value="Save" class="btn btn-default">
    }
  </div>
  <div class="back">
    @Html.ActionLink("Back", "Index")
  </div>
</div>
