<div class="sidenav">
  <a href="#">@Html.ActionLink("ENGINEERS", "Index", "Engineers")</a>
  <a href="#">@Html.ActionLink("MACHINES", "Index", "Machines")</a>
  <a href="#">@Html.ActionLink("Home", "Index", "Home")</a>
</div>