@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer
<div class="mainCont">
  <div class="head">
    <h1>Add a new Engineer to our Factory roster!</h1>
  </div>
  @using (Html.BeginForm())
  {
    <div class="content">
      <p>@Html.Label("Engineer Name:")
        @Html.TextBoxFor(model => model.EngName, new { @required="required" })</p>

      <div class="back">
        <input type="submit" value="Confirm" class="btn btn-default">
      </div>
    </div>
  }

  <div class="back">
    <p>@Html.ActionLink("Back to List of Engineers", "Index")</p>
  </div>
</div>