@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Engineer>;
<div class="mainCont">
  <div class="head">
    <h1>We most definitely ONLY employ the FINEST, most SKILLED ENGINEERS in all of the land...</h1>
  </div>
  <div class="content">
    @if (@Model.Count == 0)
    {
      <p>No Engineers yet, woopsies!!</p>
    }
    <div class="subhead">
      <h3>Browse our current Engineers:</h3>
    </div>
    @foreach (Engineer engineer in Model)
    {
      <div class="listo">
        <li>@Html.ActionLink($"{engineer.EngName}", "Details", new { id = engineer.EngineerId })</li>
      </div>
    }
    <div class="create">
      <h3>Missing Someone?</h3>
      <div class="c-link">
        <p>@Html.ActionLink("HIRE a new ENGINEER", "Create")</p>
      </div>
    </div>
  </div>
</div>