@{
  Layout = "_Layout";
}



<h1 class="content">WELCOME to Dr. SilLyStRInGZ's FACTORY</h1>
<h3 class="content">Use the menu to browse an impressive collection of cool machines and talented engineers...</h3>
