@{
  Layout = "_Layout";
}

<h1>WELCOME to Dr. SilLyStRInGZ's Factory Manager:</h1>
<p>@Html.ActionLink("View our ENGINEERS", "Index", "Engineers") | @Html.ActionLink("Check out our MACHINES", "Index",
  "Machines")</p>